:root {
    --svg-password-edit-frame: url(../../resources/password_edit_frame.svg);
}
.password-edit-frame {
    background: no-repeat var(--svg-password-edit-frame);
    background-size: contain;
    min-width: 677px;
    min-height: 195px;
    padding: 20px 20px 0 55px;
    box-sizing: border-box;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}